<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://quizapi3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>quizapi3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>quizapi3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>iskander</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuickQuiz_db" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:ndnf5zkaj9.database.windows.net,1433;Initial Catalog=quizapi3_db;User ID=MyFinanceAppWalid@ndnf5zkaj9;Password=ESPRITpi02" Name="Data Source=tcp:ndnf5zkaj9.database.windows.net,1433;Initial Catalog=quizapi3_db;User Id=MyFinanceAppWalid@ndnf5zkaj9;Password=ESPRITpi02" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="QuickQuiz.Data.Infrastructure.QuizContext, QuickQuiz.Data" MigrationConfiguration="QuickQuiz.Data.Migrations.Configuration, QuickQuiz.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="quizapi.Models.quizapiContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:ndnf5zkaj9.database.windows.net,1433;Initial Catalog=quizapi3_db;User ID=MyFinanceAppWalid@ndnf5zkaj9;Password=ESPRITpi02" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="quizapi.Models.quizapiContext, quizapi" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuickQuiz_db-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ndnf5zkaj9.database.windows.net,1433;Initial Catalog=quizapi3_db;User Id=MyFinanceAppWalid@ndnf5zkaj9;Password=ESPRITpi02</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)quizapi.Models.quizapiContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ndnf5zkaj9.database.windows.net,1433;Initial Catalog=quizapi3_db;User ID=MyFinanceAppWalid@ndnf5zkaj9;Password=ESPRITpi02</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>